<div class="toolbar">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="toolbar-row toolbar-row-first">
      <span>Angular lecture 1</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="toolbar-row toolbar-row-second">
      <div class="toolbar__menu">
        <div class="toolbar__buttons">
          <div class="toolbar-select-btn">
            <button class="toolbar-btn" mat-button
            (click)="selectAllUsers()">Select all</button>
          </div>
          <div class="toolbar-delete-btn">
            <button class="toolbar-btn" mat-button
            (click)="deleteUser()">Delete</button>
          </div>
        </div>
        <div class="toolbar__sort">
          <mat-form-field class="select-input" appearance="fill">
            <mat-label>Sorting order</mat-label>
            <mat-select [(value)]="selectedValue">
              <mat-option *ngFor="let order of orders" [value]="order.value">
                {{order.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="toolbar__search">
        <mat-form-field class="search-input" appearance="fill">
          <input #inputValue class="form-field__input" matInput type="text" [(ngModel)]="value"
          placeholder="Search users">
          <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="setValue()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div class="container">
  <div class="user__cards">
    <mat-card class="user__card" *ngFor="let user of users | filter:value | sort:selectedValue">
      <div class="user__card-checkbox">
        <mat-checkbox class="checkbox" [(ngModel)]=user.isSelected></mat-checkbox>
      </div>
      <div class="user__card-img">Image here</div>
      <div class="user__card-header">
        <h2 class="user__card-header-text">{{user.firstname}} {{user.lastname}}</h2>
      </div>
      <div class="user__card-info">
        <p>{{user.email}}</p>
        <p>{{user.phone}}</p>
      </div>
    </mat-card>
  </div>
</div>